<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Macroy" %></h1>
  <p>An open source,<br /> <em>free as in freedom</em>,<br/> todolist
  application.</p>
</section>

<section class="row">
    <article>
        <h3>This app doesn't really do anything other than list OrgFiles you
        have to add with iex, but that's already more than nothing, right?</h3>
    </article>
</section>
