<%= unless is_nil @todo do %>
    <%= render("show_todo.html", todo: @todo) %>
    <button
      onclick="location.href='#'"
      type="button"
      class="button is-link"
    >Edit</button>
<% end %>

<%= if is_nil @todo do %>
  <h3 class="title is-3">¯\_(ツ)_/¯</h3>
  <p>There is no todo with id <strong><%= @id %></strong></p>
<% end %>
