<h3 class="title is-3">OrgFile Locations</h3>
<ul>
    <%= for orgfile <- @orgfiles do %>
        <li><strong>
            <%= link(orgfile.filename, to: Routes.org_file_path(@conn, :show, orgfile)) %>
        </strong> @ <%= orgfile.host %> on path: <%= orgfile.path %>
        - <%= link("edit", to: Routes.org_file_path(@conn, :edit, orgfile))  %>
        </li>
    <% end %>
</ul>

