<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"><%= gettext "Welcome to %{name}!", name: "Macroy" %></h1>
            <p>An open source,<br /> <em>free as in freedom</em>,<br/> todolist
                application.</p>
        </div>
  </div>
</section>

<section class="row">
    <article>
        
    </article>
</section>
