<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Macroy</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="<%= Routes.page_path(@conn, :index) %>" class="navbar-item">
            <img src="<%= Routes.static_path(@conn, "/images/macroy_banner.png") %>" alt="Macroy Logo" width="224" height="56" />
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="macroy-navbar" class="navbar-menu">
          <div class="navbar-start">
            <a href="<%= Routes.page_path(@conn, :index) %>" class="navbar-item">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                OrgFiles
              </a>
              <div class="navbar-dropdown">
                  <a href="<%= Routes.org_file_path(@conn, :new)%>" class="navbar-item">
                      New
                  </a>
                  <a href="<%= Routes.org_file_path(@conn, :index)%>" class="navbar-item">
                      Index
                  </a>
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="<%= Routes.user_path(@conn, :new) %> " class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
